server:
  port: 18089
spring:
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
    sentinel:
      transport:
        dashboard: localhost:8080
        port: 8719
  zipkin:
    base-url: http://localhost:9411
    discovery-client-enabled: false
    sender:
      type: web
  sleuth:
    sampler:
      probability: 1
  thymeleaf:
    cache: false
feign:
  sentinel:
    enabled: true
ribbon:
  ReadTimeout: 30000
  ConnectTimeout: 30000
auth:
  jwt:
    pubKeyPath: D:\ShangGuigu\IdeaFiles\DianShang\rsa\rsa.pub
    priKeyPath: D:\ShangGuigu\IdeaFiles\DianShang\rsa\rsa.pri
    secret: 1234qwerASDF!@#$4321
    expire: 180
    cookieName: GMALL-TOKEN
    unick: unick
