server:
  port: 18081
feign:
  sentinel:
    enabled: true
mybatis-plus:
  mapper-locations: classpath:mapper/pms/**/*.xml
  type-aliases-package: com.atguigu.gmall.pms.entity
  global-config:
    db-config:
      id-type: auto
spring:
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
    sentinel:
      transport:
        dashboard: localhost:8080
        port: 8719
    zipkin:
      base-url: http://localhost:9411
      discovery-client-enabled: false
      sender:
        type: web
    sleuth:
      sampler:
        probability: 1
    redis:
      host: 192.168.255.131
      port: 6379
    alibaba:
      seata:
        tx-service-group: tx-gmall-group
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://192.168.255.131:3306/guli_pms
    username: root
    password: root
